<div>
    <form class="form-inline" id="form">
        <div id="tech_score_form_group" class="form-group">
            <label for="techScore" class="control-label">Technical Score:</label>
            <div class="controls">
                <input style="width: 3em;" maxlength="1" id="techScore" name="techScore" type="text">
                <p id="techScore_help_block" class="help-block"></p>
            </div>
        </div>
        <div id="hr_score_form_group" class="form-group">
            <label for="hrScore" class="control-label">HR Score:</label>
            <div class="controls">
                <input style="width: 3em;" maxlength="1" id="hrScore" name="hrScore" type="text">
                <p id="hrScore_help_block" class="help-block"></p>
            </div>
        </div>
        <div id="offering_form_group" class="form-group">
            <label for="offering" class="control-label">Offering:</label>
            <div class="controls">
                <input style="width: 20em;" maxlength="20" id="offering" name="offering" type="text">
                <p id="offering_help_block" class="help-block"></p>
            </div>
        </div>
    </form>
</div>