<div>
    <form class="form-inline" id="form">
        <div id="name_control_group" class="control-group">
            <label for="name" class="control-label">Candidate Name:</label>
            <div class="controls">
                <input style="width: 20em;" maxlength="20" id="name" name="name" type="text">
                <p id="name_help_block" class="help-block"></p>
            </div>
        </div>
        <div id="offering_control_group" class="control-group">
            <label for="offering" class="control-label">Technical Score:</label>
            <div class="controls">
                <input style="width: 20em;" maxlength="20" id="offering" name="offering" type="text">
                <p id="offering_help_block" class="help-block"></p>
            </div>
        </div>
        <div id="signed_control_group" class="control-group">
            <div class="controls">
                <label class="checkbox" for="signed">
                    <input type="checkbox" id="signed"> Signed:
                </label>
                <p id="signed_block" class="help-block"></p>
            </div>
        </div>
    </form>
</div>